
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

// Variables
@import "variables";

// Bootstrap
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}



.comment-location {
  color: #565656;
}

.pref-text {
  font-family: 'Inconsolata', monospace;
}

.container{
  margin: 1% 10% 0 5%;
}